<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="Installer" type="VersionOne.ServiceHost.InstallerConfigurationHandler,VersionOne.ServiceHost"/>
    <section name="Services" type="VersionOne.ServiceHost.ServicesConfigurationHandler,VersionOne.ServiceHost.Core"/>
  </configSections>

  <Installer>
    <ShortName>V1Bugzilla</ShortName>
    <LongName>VersionOne Integration for Bugzilla</LongName>
  </Installer>

  <Services>
    <!-- 
      Listen for LogMessage events and log them to file and/or console. LogLevel values define minimal level of logged events.
      Valid log levels, in ascending order: Debug, Info, Error. 
    -->
    <LogService class="VersionOne.ServiceHost.Core.Logging.LogService, VersionOne.ServiceHost.Core">
      <!-- Set enabled attribute value to 0 to disable console logging. -->
      <Console enabled="1">
        <LogLevel>Debug</LogLevel>
      </Console>
      <!-- Set enabled attribute value to 0 to disable file logging. -->
      <File enabled="1">
        <LogLevel>Info</LogLevel>
        <!-- File name to log messages, either absolute or relative -->
        <Filename>.\ServiceHost.log</Filename>
        <!-- Maximum log file size. The file will never extend the limit as older messages are truncated. Valid size values examples: 100KB, 500KB, 10MB. -->
        <MaximumFileSize>10MB</MaximumFileSize>
      </File>
    </LogService>

    <!-- Timer that flushes Profile periodically -->
    <ProfileFlushTimer class="VersionOne.ServiceHost.Core.Services.TimePublisherService,VersionOne.ServiceHost.Core">
      <Interval>1000</Interval>
      <PublishClass>VersionOne.ServiceHost.CommonMode+FlushProfile,VersionOne.ServiceHost.Core</PublishClass>
    </ProfileFlushTimer>

    <!-- Configuration for Bugzilla Service -->
    <BugzillaService disabled="0" class="VersionOne.ServiceHost.BugzillaServices.BugzillaHostedService, VersionOne.ServiceHost.BugzillaServices">
      
      <!-- Bugzilla Connectivity -->
      <!-- For Bugzilla 3.0.x the BugzillaUrl needs to include v1.cgi -->
      <!-- For Bugzilla 3.2.x and higher, the BugzillaUrl needs to include xmlrpc.cgi -->
      <BugzillaUrl>https://bugzilla442.cloudapp.net/xmlrpc.cgi</BugzillaUrl>
      <BugzillaUserName>v1deploy@versionone.com</BugzillaUserName>
      <BugzillaPassword>v1deploy</BugzillaPassword>
      
      <!-- Set to true to ignore SSL certificates. -->
      <BugzillaIgnoreCertificate>true</BugzillaIgnoreCertificate>

      <!-- Name of the Bugzilla search filter that finds artifacts to move into VersionOne. -->
      <!-- This filter must be created prior to running the integration. -->
      <BugzillaSearchName>Assigned Bugs</BugzillaSearchName>

      <!-- URL template and menu title to use when creating links in VersionOne Defects to Bugzilla bugs (#key# is replaced with the Bugzilla id -->
      <BugzillaBugUrlTemplate>https://bugzilla442.cloudapp.net/show_bug.cgi?id=#key#</BugzillaBugUrlTemplate>
      <BugzillaBugUrlTitle>Bugzilla</BugzillaBugUrlTitle>

      <!-- Bugzilla changes to make after a VersionOne Defect is created. -->
      <CreateFieldId>cf_versiononestate</CreateFieldId>                       <!-- Name of the custom Bugzilla field to update when a V1 defect is created (optional) -->
      <CreateFieldValue>New</CreateFieldValue>                 <!-- Value to update the custom field to (optional) -->
      <CreateAccept>true</CreateAccept>                         <!-- Set to 'true' to mark the bug accepted once it gets created in V1 (optional) -->
      <CreateReassignValue></CreateReassignValue>           <!-- User ID to assign bug to once it gets created in V1 (optional) use Upper case -->
      <CreateResolveValue>ASSIGNED</CreateResolveValue>     <!-- Status to resolve bug to once it gets created in V1 (optional) -->

      <!-- Bugzilla change after a VersionOne Defect is closed. -->
      <CloseFieldId>cf_versiononestate</CloseFieldId>                         <!-- Name of the Bugzilla custom field to update when a V1 defect is closed (optional) -->
      <CloseFieldValue>Closed</CloseFieldValue>                   <!-- Value to update the custom field to when a V1 defect is closed (optional) -->
      <CloseAccept>true</CloseAccept>                           <!-- Set to 'true' to mark the bug accepted once it gets closed in V1 (optional) -->
      <CloseReassignValue></CloseReassignValue>             <!-- User ID to assign bug to once it gets closed in V1 (optional) Use Upper case for the value -->
      <CloseResolveValue>FIXED</CloseResolveValue>          <!-- Status to resolve bug to once it gets closed in V1 (optional) -->

      <!-- V1 'Source' value to use when Defect is created from Bugzilla artifact, this value must be exist in V1. -->
      <SourceFieldValue>Bugzilla</SourceFieldValue>

      <!-- Bugzilla custom field to use for the VersionOne Defect URL -->
      <DefectLinkFieldId>cf_versiononeurl</DefectLinkFieldId>

      <!-- Mapping for projects from Bugzilla to VersionOne -->
      <ProjectMappings>
        <Mapping>
          <BugzillaProject>TestProduct</BugzillaProject>
          <VersionOneProject id="Scope:1004"></VersionOneProject>
        </Mapping>
      </ProjectMappings>

      <!-- 
           Issue priority mappings. 
           If a mapping of Bugzilla to VersionOne priority is omitted here, created VersionOne defects do not have any priority set. 
           (example Bugzilla priorities are valid for version 3.6)
       -->
      <PriorityMappings>
        <Mapping>
          <BugzillaPriority>Highest</BugzillaPriority>
          <VersionOnePriority id="WorkitemPriority:140">High</VersionOnePriority>
        </Mapping>
        <Mapping>
          <BugzillaPriority>High</BugzillaPriority>
          <VersionOnePriority id="WorkitemPriority:140">High</VersionOnePriority>
        </Mapping>
        <Mapping>
          <BugzillaPriority>Normal</BugzillaPriority>
          <VersionOnePriority id="WorkitemPriority:139">Medium</VersionOnePriority>
        </Mapping>
        <Mapping>
          <BugzillaPriority>Low</BugzillaPriority>
          <VersionOnePriority id="WorkitemPriority:138">Low</VersionOnePriority>
        </Mapping>
        <Mapping>
          <BugzillaPriority>Lowest</BugzillaPriority>
          <VersionOnePriority id="WorkitemPriority:138">Low</VersionOnePriority>
        </Mapping>
      </PriorityMappings>
    </BugzillaService>

    <!-- Bugzilla Poll Timer -->
    <BugzillaServiceTimer disabled="0" class="VersionOne.ServiceHost.Core.Services.TimePublisherService, VersionOne.ServiceHost.Core">
      <Interval>7000</Interval>
      <PublishClass>VersionOne.ServiceHost.BugzillaServices.BugzillaHostedService+IntervalSync, VersionOne.ServiceHost.BugzillaServices</PublishClass>
    </BugzillaServiceTimer>

    <!-- Write Defects to VersionOne, and retrieves Bugzilla-sourced Defects that have recently closed -->
    <WorkitemWriterService disabled="0" class="VersionOne.ServiceHost.WorkitemServices.WorkitemWriterHostedService, VersionOne.ServiceHost.WorkitemServices">
      <ExternalIdFieldName>Reference</ExternalIdFieldName>
      <Settings>
        <ApplicationUrl>http://localhost/VersionOne/</ApplicationUrl>
        <Username>admin</Username>
        <Password>1234</Password>
        <APIVersion>7.2.0.0</APIVersion>
        <IntegratedAuth>false</IntegratedAuth>
        <ProxySettings disabled="1">
          <Uri>http://proxyhost:3128</Uri>
          <UserName>username</UserName>
          <Password>password</Password>
          <Domain>domain</Domain>
        </ProxySettings>
      </Settings>
    </WorkitemWriterService>

  </Services>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
